@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.video-player {

  &__styles {
    background-color: $background-color;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    font-family: $main-font;
    font-size: .9rem;
    color: white;
    padding-top: .5rem;

    @include tablet {
      font-size: 1.5rem;
    }

    @include desktop {
      font-size: 1.9rem;
    }
  }



  &__artist {
    font-family: $main-font;
    font-size: .8rem;
    color: white;

    @include tablet {
      font-size: 1.3rem;
    }

    @include desktop {
      font-size: 1.6rem;
    }
  }

  &__lyrics-container {
    width: 300px;

    @include tablet {
      width: 580px;
    }

    @include desktop {
      width: 800px;
    }
  }

  &__lyrics-title {
    padding-top: 2rem;
    color: white;
    font-size: .85rem;
    font-family: $main-font;

    @include tablet {
      font-size: .95rem;

      @include desktop {
        font-size: 1.5rem;
      }
    }
  }

  &__lyrics {
    padding-top: 1.5rem;
    font-size: .85rem;
    color: white;
    font-family: $main-font;

    @include tablet {
      font-size: .95rem;

      @include desktop {
        font-size: 1.2rem;
      }
    }
  }
}

iframe {
  width: 300px;
  height: 180px;

  @include tablet {
    width: 580px;
    height: 326.25px;
    padding: 1rem;
  }

  @include desktop {
    width: 800px;
    height: 450px;
  }
}