@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.video-player {

  &__section {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      align-items: center;
    }
  }

  &__styles {
    padding: 0 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__button-container {
    display: flex;
    justify-content: left;
    padding: 1rem 1rem 1rem 0;
    width: 300px;

    @include tablet {
      width: 580px;
      margin-top: 1rem;
      padding-left: 1rem;
    }

    @include desktop {
      width: 800px;
    }
  }

  &__back-button {
    display: flex;
    background-color: $accent-color;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: $silver-color;
    background-position: 5%;

    @include tablet {
      width: 40px;
      height: 40px;
      margin-bottom: 0;
    }

    @include desktop {
      width: 50px;
      height: 45px;
    }
  }

  &__back-button:hover {
    cursor: pointer;
    background-color: $silver-color;
    color: black;
  }

  &__button-img {
    transform:scale(.75);
  }

  &__title {
    font-family: $main-font;
    font-size: .9rem;
    color: white;
    padding-top: .5rem;

    @include tablet {
      font-size: 1.5rem;
    }

    @include desktop {
      font-size: 1.9rem;
    }
  }

  &__artist {
    font-family: $main-font;
    font-size: .8rem;
    color: white;

    @include tablet {
      font-size: 1.3rem;
    }

    @include desktop {
      font-size: 1.6rem;
    }
  }

  &__lyrics-container {
    width: 300px;

    @include tablet {
      width: 580px;
    }

    @include desktop {
      width: 800px;
    }
  }

  &__lyrics-title {
    padding-top: 2rem;
    color: white;
    font-size: .85rem;
    font-family: $main-font;

    @include tablet {
      font-size: .95rem;

      @include desktop {
        font-size: 1.5rem;
      }
    }
  }

  &__lyrics {
    padding-top: 1.5rem;
    font-size: .85rem;
    color: white;
    font-family: $main-font;

    @include tablet {
      font-size: .95rem;

      @include desktop {
        font-size: 1.2rem;
      }
    }
  }
}

iframe {
  width: 300px;
  height: 180px;

  @include tablet {
    width: 580px;
    height: 326.25px;
    padding: 1rem;
  }

  @include desktop {
    width: 800px;
    height: 450px;
  }
}