@use '../.././styles/partials/mixins' as *;
@use '../.././styles/partials/variables' as *;

.channel {
  padding: 1rem;
  background-color: $background-color;
  width: 100%;
  font-family: $main-font;

  &__container {
    max-width: 400px;
    margin: auto;

    @include tablet {
      max-width: 650px;
    }
  }

  &__title {
    margin-left: 1rem;
    margin-right: 1rem;
    color: $font-color;
    text-align: left;
    padding-bottom: 1rem;

    @include tablet {
      padding: 2rem 2rem 1.7rem 0;
      margin-bottom: 1.5rem;
      margin-left: 2rem;
    }

    @include desktop {
      margin-left: 0;
    }
  }

  &__info-container {
    display: flex;
    flex-direction: column;

    @include tablet {
      padding-bottom: .5rem;
    }

    @include desktop {
      padding-bottom: 1rem;
      flex-direction: row;
      max-width: 1100px;
    }
  }

  &__input-container {
    padding: 0 1rem 1rem 1rem;

    @include tablet {
      padding: 0 2rem 1rem 2rem;
    }

    @include desktop {
      width: 100%;
      padding-left: 0;
    }
  }

  &__form-container {
    display: flex;
    flex-direction: column;
  }

  &__video-title {
    color: $font-color;
    font-weight: bold;
    font-size: .75rem;
    text-align: left;
    padding-bottom: .4rem;
  }

  &__title-input {
    border-radius: 4px;
    border: 1.5px solid $silver-color;
    padding: .65rem;
    font-family: $main-font;

    @include tablet {
      padding: .8rem;
    }
  }

  &__title-input-error {
    border: solid 1.5px #D22D2D;
  }

  &__title-input::placeholder {
    font-size: .85rem;
  }

  &__title-input:focus {
    border: none;
    outline: 1.5px solid $accent-color;

    @include tablet {
      outline: 2.5px solid $accent-color;
    }

    @include desktop {
      outline: 3.5px solid $accent-color;
    }
  }

  &__video-description {
    color: $font-color;
    font-weight: bold;
    font-size: .75rem;
    text-align: left;
    padding-bottom: .4rem;
    padding-top: 1.2rem;
  }

  &__description-input {
    border-radius: 4px;
    border: 1.5px solid $silver-color;
    padding: .5rem .5rem 4rem .5rem;
    font-family: $main-font;
  }

  &__description-input-error {
    border: solid 1.5px #D22D2D;
  }

  &__description-input::placeholder {
    font-size: .85rem;
  }

  &__description-input:focus {
    border: none;
    outline: 1.5px solid $accent-color;

    @include tablet {
      outline: 2.5px solid $accent-color;
    }

    @include desktop {
      outline: 3.5px solid $accent-color;
    }
  }

  &__video-url {
    color: $font-color;
    font-weight: bold;
    font-size: .75rem;
    text-align: left;
    padding-bottom: .4rem;
    padding-top: 1.2rem;
  }

  &__url-input {
    border-radius: 4px;
    border: 1.5px solid $silver-color;
    padding: .65rem;
    font-family: $main-font;
  }

  &__url-input:focus {
    border: none;
    outline: 1.5px solid $accent-color;

    @include tablet {
      outline: 2.5px solid $accent-color;
    }

    @include desktop {
      outline: 3.5px solid $accent-color;
    }
  }

  &__cta-container {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      align-items: center;
      justify-content: right;
      padding: .5rem 0rem .5rem 0rem;
      margin-top: 1.5rem;
    }
  }

  &__publish-button {
    display: flex;
    width: 100%;
    height: 40px;
    order: 1;
    background-color: $accent-color;
    background-repeat: no-repeat;
    background-position: 5%;
    background-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    @include tablet {
      background-size: 21px;
      order: 2;
    }
  }

  &__publish-button-text {
    color: white;
    font-family: $main-font;
    font-weight: bold;
    margin: auto;
    font-size: .9rem;
  }

  &__button-location {
    width: 100%;
    order: 1;

    @include tablet {
      order: 2;
      width: 22.5%;
      margin-left: 1rem;
    }
  }

  &__cancel-button {
    background: none;
    border: none;
    font-weight: bold;
    order: 2;
    font-size: .75rem;
    margin: 2rem;

    @include tablet {
      order: 1;
      padding-right: 2rem;
    }

    @include desktop {
      padding-right: 2rem;
    }
  }

  &__cancel-button:hover {
    cursor: pointer;
  }
}