@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.tones {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 1rem;

  @include tablet {
    padding: 2rem;

    @include desktop {
      padding: 4rem;
    }
  }

  &__button-container {
    display: flex;
    justify-content: left;
    padding: 1rem 1rem 1rem 0;
    width: 300px;

    @include tablet {
      width: 580px;
      padding-left: 1rem;
    }

    @include desktop {
      width: 800px;
      margin-bottom: 2rem;
    }
  }

  &__back-button {
    display: flex;
    background-color: $accent-color;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: $silver-color;
    background-position: 5%;

    @include tablet {
      width: 40px;
      height: 40px;
      margin-bottom: 0;
    }

    @include desktop {
      width: 50px;
      height: 45px;
    }
  }

  &__back-button:hover {
    cursor: pointer;
    background-color: $silver-color;
    color: black;
  }

  &__button-img {
    transform:scale(.75);
  }

  &__title {
    font-family: $main-font;
    font-size: 1.3rem;
    color: white;
    padding-bottom: 1.5rem;
    width: 300px;

    @include tablet {
      width: 580px;
      font-size: 1.65rem;
      margin-left: 2rem;

    }

    @include desktop {
      width: 800px;
      font-size: 2rem;
    }
  }

  &__buttons-container {
    display: flex;
    justify-content: space-around;
    padding: .5rem 0 2.5rem 0;

    @include desktop {
      padding: 1rem 0 5rem 0;
    }
  }

  &__button {
    background-color: $accent-color;
    color: $font-color;
    padding: .5rem 1.2rem;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-family: 'Cormorant Garamond', serif;

    @include tablet {
      padding: .5rem 2rem;
      font-size: .9rem;
    }

    @include desktop {
      padding: .6rem 2.5rem;
      font-size: 1rem;
    }
  }

  &__button:hover {
    background-color: $silver-color;
    color: black;
  }
}